<div class="container search-form">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Do you want to search smth?</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <search-form></search-form>
        </div>
    </div>
</div>

<div class="container search-history" *ngIf="sortedItems.length">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <ul class="list-group" id="list">
                <history-item *ngFor="let item of sortedItems" [item]="item" ></history-item>
            </ul>
        </div>
    </div>
</div>
