form {
    min-height: 200px;
}

.input-group {
    padding: 0;
}

.alert {
    display: inline-block;
    background: #f2edda;
    padding: 3px;
    margin-top: 2px;
    animation: 1s alertTransition forwards;
}

@keyframes alertTransition {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
